
.order {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
    .order-text-row {
        display: flex;
        flex-wrap: wrap;
        

        & > div {
            display: flex;
            flex-wrap: nowrap;
            @media (max-width: 326px){
                flex-wrap: wrap;       
            }
        }

        .order-text-col {
            min-width: 148px;
            display: flex;
            flex-direction: column;
            margin-right: 8px;
            @media (max-width: 400px){
                font-size: 14px;
                min-width: 130px;   
            }

            div:first-child {
                background-color: rgba(75, 74, 77, 1);
                color: white;
            }
        }
    }
    .buttons {
        width: 132px;
        display: flex;
        align-items: center;

        .link{
            background-color: rgba(75, 74, 77, 0.7);
            text-decoration: none;
        }
        span:nth-child(2){
            background-color: rgba(209, 4, 4, 0.7);   
        }

        .link:hover{
            background-color: rgba(75, 74, 77, 1);
        }
        span:nth-child(2):hover{
            background-color: rgba(209, 4, 4, 1);   
        }

        & > span, .link {
            width: 50px;
            font-size: 20px;
            color: white;
            border: none;
            border-radius: 2px;
            margin-right: 8px;
            text-align: center;
            cursor: pointer;
        }
    }
}

.light {
    background-color: rgb(241, 247, 248);
}

.dark {
    background-color: rgb(187, 190, 186);
}