
.mynav {
    background-color: rgba(255, 255, 255, 0.3);


    .link:hover {
        color: rgba(38, 46, 38, 1);
    }
    

    .logo {
        width: 50px;
        margin-left: 30px;

        img {
            width: 100%;
        }
        @media (max-width: 599px){
            display: none;   
        }
    }

    .logout {
        color: rgba(0,0,0,0.7);
        cursor: pointer;
    }
    .logout:hover {
        color: rgb(0,0,0);
    }

}