

.search-form, .category-form {
    display: inline-block;
    margin: 8px 20px;

    input[type="text"]{
        @media (max-width: 320px){
            width: 100px;
        }
    }

    
    span {
        margin-right: 10px;
        @media (max-width: 340px){
            display: block;   
        }
    }

    button {
        margin-left: 10px;
        border: 1px solid rgba(83, 116, 121, 0.3);
        border-radius: 3px;
        padding: 3px 4px;
        cursor: pointer;
    }

    select, input {
        outline-style: none;
        height: 32px;   
        

        option {
            user-select: none;
        }
    }
    
}


.product-wrapper {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 599px){
        flex-direction: column;
        align-items: center;
        margin: 20px auto;   
    }

    
    .product-link {
        text-decoration: none;
    }

    
}


.products {
    .link {
        text-decoration: none;
    }
    .shop-btn {
        border: 1px solid rgba(83, 116, 121, 0.3);
        border-radius: 3px;
        padding: 10px 16px;
        cursor: pointer;
    }
}



.wait-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    div {
        width: 300px;

        img {
            width: 100%;
        }
    }
}
