@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.admin {
    margin-top: 40px;

    h3 {
        font-family: 'Kalam', cursive;
    }

    .order-wrapper {
        max-width: 1000px;
        max-width: 90%;
        margin: 40px auto;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.login {

    h3 {
        margin-top: 60px;
        margin-bottom: 80px;
        font-family: 'Kalam', cursive;
    }

    .shop-btn {
        border: 1px solid rgba(83, 116, 121, 0.3);
        border-radius: 3px;
        padding: 10px 16px;
        cursor: pointer;
    }
}

.no-orders {

    h3 {
        margin-top: 60px;
        margin-bottom: 80px;
        font-family: 'Kalam', cursive;
    }
    
}

.wait-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    div {
        width: 300px;

        img {
            width: 100%;
        }
    }
}
