@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

$brownish-base: rgb(148, 24, 3);
$brownish: rgba($brownish-base, 0.7);
$brownish-hover: rgba($brownish-base, 0.9);
$brownish-active: rgb(136, 26, 7);

$light-text: rgba(255, 255, 255, 0.7);
$light-text-hover: rgb(255, 255, 255);

$roboto-font: 'Roboto Condensed', sans-serif;